.App {
   display: flex;
   flex-direction: column;
}
.container{
  height: auto;
  width: 100%;
  color: whitesmoke;
}
.header{
  padding-right: 10vw;
  font-weight: 600;
  font-size: 5vh;
  text-align: end;
  font-family: 'Times New Roman', Times, serif;
  background-color: #B6BBC4;
}
.TodoComponent{
  margin: 0 auto;
  max-width: 60vw;
  margin-top: 10px;
  height: auto;
}
@media screen and (max-width:900px) {
  .header{
    text-align: center;
    font-size: 4vh;   
    padding-right: 0;
  }
  .TodoComponent{   
    max-width: 90vw;
    margin-top: 10px;
  }
}
